*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.header-menu{
    margin-left: 20px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
    padding: 3px;
    color: black;
}

.apple-office{
    width: 1560px;
    height: 550.97px;
    margin: 30px 0px 20px 25px;
}

.apple-text{
    margin-left: 23px;
}

.copyright{
    margin-left: 23px;
    margin-top: 200px;
}

.about{
    font-size: 24px;
    color: #007AFF;
    margin-left: 20px;
    margin: 30px 0px 20px 25px;
    width: 1320px;
    height: 387px;
}

h1{
    margin-bottom: 50px;
}

.container{
    background-color: #007AFF;
    width: 500px;
    margin: 30px 0px 20px 25px;
    height: 165px;
    text-align: center;
    color: white;
}

.address{
    text-align: left;
    padding-bottom: 20px;
    margin-left: 20px;
}
.tel{
    text-align: left;
    margin-left: 20px;
}

iframe{
    display: flex;
    margin-left: 700px;
    margin-top: -250px;
    top: 500px;
}
