body{
    background-color: #0C0C0C;
}

nav{
position: sticky;
bottom: 0px;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

li{
    color: white;
    cursor: pointer;
    transition: 1s;
    font-size: 20px;
}

li:hover{
    text-shadow: 0px 0px 2px white;
}

button{
    border: none;
    background-color: white;
    color: black;
    border-radius: 50px;
    padding: 10px 10px 10px 10px;
    transition: 0.5s;
}

button:hover{
    box-shadow: 0px 0px 100px white;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.title{
    display: flex;
    text-align: start;
    flex-direction: column;
    margin-top: 150px;
}

.title h1{
    color: white;
    font-size: 50px;
}

.title span{
    color: #64CCC5;
}

.title p{
    margin-top: -30px;
    color:  #d6d4d4;
}

.start-trial{
    width: 248px;
    height: 48px;
    font-weight: bold;
    margin-top: 50px;
    cursor: pointer;
}

.start-trial:hover{
    box-shadow: 0px 0px 250px white;
}

.img{
    background-image: url(/assets/Image.png);
    position: absolute;
    width: 1250px;
    height: 1050px;
    right: 50px;
    top: 50px;
}

.trusted-brands{
    display: flex;
    align-items: center;
    justify-content: start;
}

.trusted-brands h4{
    color: #64CCC5; 
}

.brands-logo{
    display: flex;
    position: relative;
    top: 50px;
    right: 200px;
    width: 670px;
    flex-wrap: wrap;
}

.services{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    position: absolute;
    background-color: aliceblue;
    width: 100%;
    height: 90%;
    left: 0;
    top: 1050px;
    right: 0;
}

.serv-title p{
    color: #64CCC5; 
}

.serv-title h2{
    font-size: 35px;
}

.box{
    display: flex;
    justify-content: center;
}

.card{
    width: 422px;
    height: 368px;
    background-color: white;
    border-radius: 20px;
    margin-top: 200px;
}